/build
/x64
/crsf
/config
resources/models/right_index0.egg
resources/models/right_index1.egg
resources/models/right_index2.egg
resources/models/right_middle0.egg
resources/models/right_middle1.egg
resources/models/right_middle2.egg
resources/models/right_pinky0.egg
resources/models/right_pinky1.egg
resources/models/right_pinky2.egg
resources/models/right_ring0.egg
resources/models/right_ring1.egg
resources/models/right_ring2.egg
resources/models/right_thumb0.egg
resources/models/right_thumb1.egg
resources/models/right_thumb2.egg
