/build
/crsf
/CRHands/resources/models/right_index0.egg
/CRHands/resources/models/right_index1.egg
/CRHands/resources/models/right_index2.egg
/CRHands/resources/models/right_middle0.egg
/CRHands/resources/models/right_middle1.egg
/CRHands/resources/models/right_middle2.egg
/CRHands/resources/models/right_pinky0.egg
/CRHands/resources/models/right_pinky1.egg
/CRHands/resources/models/right_pinky2.egg
/CRHands/resources/models/right_ring0.egg
/CRHands/resources/models/right_ring1.egg
/CRHands/resources/models/right_ring2.egg
/CRHands/resources/models/right_thumb0.egg
/CRHands/resources/models/right_thumb1.egg
/CRHands/resources/models/right_thumb2.egg
